name: Test & Deploy

on:
  push:
    branches:
      -main

jobs:
  test-utils:  
    runs-on: ubuntu-latest
    steps:
      - name: Checkout and clone repo
        uses: actions/checkout@v3
      - name: Install dependencies
        run: npm install
      - name: Test utils
        run: npm run test-utils